.userDropdown {
	position: fixed;
	right: 100%;
	top: 95px;
}

.userDropdown.active {
	right: 0;
}

.userDropdown_container {
	background-color: var(--navbar-background-color);
	padding: 2rem;
	border-radius: 8px;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.5rem;
	font-size: 1.3rem;
	font-weight: 700;
}

.userDropdown .userDropdown_container .username {
	text-align: center;
}

.userDropdown .userDropdown_container .picture {
	text-align: center;
}

.userDropdown .userDropdown_container .picture img {
	border-radius: 50%;
}

.userDropdown .userDropdown_container .item {
	color: white;
	display: flex;
	gap: 0.8rem;
	align-items: center;
}

@media screen and (min-width: 992px) {
	.userDropdown {
		top: 136px;
	}

	.userDropdown.active {
		right: 20vw;
	}
}
