.animelist .animelist_header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: var(--body-secondary);
	text-align: center;
}

.animelist .animelist_header .icons {
	position: absolute;
	right: 2rem;
	display: flex;
	gap: 1rem;
}

.animelist .animelist_header .icons svg.active {
	color: #0096ff;
}

.animelist .user_container {
	display: flex;
	justify-content: center;
	background-color: var(--body-terciary);
	width: 100%;
}

.animelist .user {
	display: flex;
	align-items: start;
	justify-content: start;
	padding: 2rem;
	max-width: 450px;
}

.animelist .user .picture {
	color: black;
	display: flex;
	gap: 1rem;
}

.animelist .user .username {
	height: 100%;
	width: 100%;
	padding: 1rem 0 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.animelist .user .username a {
	width: fit-content;
}

.animelist .user .username button {
	padding: 1rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.animelist_filter {
	margin: 1rem;
}
.animelist_filter select {
	width: 100%;
	padding: 1rem;
	border-radius: 5px;
	border: none;
	transition: outline 0.1s ease-in-out;
	outline: 0px solid rgb(34, 179, 247);
	text-align: center;
	font-weight: 700;
}