.homepage .news {
	height: 50vh;
}

.homepage .news .swiper {
	height: 100%;
	width: 100%;
}

.homepage .news .new a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: white;
	color: rgb(255, 255, 255);
}

.homepage .news .new a img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.homepage .news .new a .content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2.5rem;
}

.homepage .news .new a .content h1 {
	text-shadow: 5px 5px 5px black;
}

.homepage .container > h1 {
	padding: 2rem 0rem 1rem 2rem;
}

.homepage .container h1 svg {
	color: orange;
	margin-left: 0.5rem;
}

.homepage .container .slide {
	display: flex;
	flex-direction: column;
	width: 150px;
	height: 260px;
}

.homepage .container .slide svg {
	cursor: pointer;
}

.homepage .container .slide .content {
	border-radius: 0px 0px 8px 8px;
	padding: 1rem 0.5rem;
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.homepage .container .slide .content a {
	color: black;
}

.homepage .container .slide img {
	object-fit: cover;
	border-radius: 0px 8px 0px 0px;
	height: 210px;
	position: relative;
}

.homepage .container .slide svg {
	position: absolute;
	padding: 1rem;
	background-color: rgba(100, 100, 100, 0.5);
	border-radius: 0 0 10px 0;
}

.homepage .container .slide.watching svg {
	background-color: var(--watchingRGBA);
}

.homepage .container .slide.completed svg {
	background-color: var(--completedRGBA);
}

.homepage .container .slide.onhold svg {
	background-color: var(--onHoldRGBA);
}

.homepage .container .slide.dropped svg {
	background-color: var(--droppedRGBA);
}

.homepage .container .slide.plantowatch svg {
	background-color: var(--planToWatchRGBA);
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 992px) {
	.homepage .container {
		padding: 1rem 20vw;
	}
}
